robotframework==7.4.2
robotframework-seleniumlibrary==6.8.0
robotframework-pabot==5.2.2
robotframework-datadriver[XLS]==1.11.2
selenium==4.24.0
webdriver-manager==4.0.2
python-dotenv==1.2.2
PyYAML==6.0.3